{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee">

	Personal development is<br>
	the conscious choice <br>
	to improve one's life<br><br>
	<a class="button" href="/">Find out more</a>

	</div>
</div>

<br>
<div class="texty">
	<p class="thankyou"> It seems you forgot to fill out some of required fields. Would you like to fill the form again? </p><br>
</div><br>

<div class="centr" align><a class="button_form" href="/form">Fill again</a><br><br>
</div>

{% endblock %}
