{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee">

	Personal development is<br>
	the conscious choice <br>
	to improve one's life<br><br>
	<a class="button" href="/">Find out more</a>

	</div>
</div>

    <div class="texty"><br>
    <p class="welcome" align="center">You've tried to send an empty form. </br>
        Would you like to fill it again?</p><br>
</div><br>
<div class="centr" align><a class="button_form" href="/form">Fill again</a><br><br>
</div>

{% endblock %}
