<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee"> 
	
	Personal development is<br>
	the conscious choice <br>
	to improve one's life<br><br>
	<a class="button" href="/usefully">Find out more</a>

	</div>
</div>
<br>
<div class="texty">
<p class="welcome"> Welcome! </p><br> 
<p class="simple_text">We are happy to welcome you on our website. Help us better understand what allows you to develop your personal skills
and become a better person! </p>

<a class="button_form" href="/form">Fill the form</a><br><br>
</div>

{% endblock %}
