<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
    <div class="framee">

        Personal development is<br>
        the conscious choice <br>
        to improve one's life<br>
        <br><br>
    </div>
</div>

<br>

<div class="texty">
    <p class="welcome"> Results </p><br>
     <table class="table">
        <thead>
         <tr>
            <th><p class="simple_text">#</p></th>
            <th><p class="simple_text">Created at</p></th>
            <th><p class="simple_text">Username</p></th>
            <th><p class="simple_text">Email</p></th>
            <th><p class="simple_text">Sex</p></th>
            <th><p class="simple_text">Education</p></th>
            <th><p class="simple_text">Q1</p></th>
            <th><p class="simple_text">Q2</p></th>
            <th><p class="simple_text">Q3</p></th>
            <th><p class="simple_text">Q4</p></th>
            <th><p class="simple_text">Q5</p></th>
            <th><p class="simple_text">Q6</p></th>
            <th><p class="simple_text">Q7</p></th>
            <th><p class="simple_text">Q8</p></th>
            <th><p class="simple_text">Q9</p></th>
            <th><p class="simple_text">Q10</p></th>
            <th><p class="simple_text">Q11</p></th>
            <th><p class="simple_text">Q12</p></th>
            <th><p class="simple_text">Q13</p></th>
            <th><p class="simple_text">Q14</p></th>
            <th><p class="simple_text">Q15</p></th>
            <th><p class="simple_text">Q16</p></th>
            <th><p class="simple_text">Q17</p></th>
         </tr>
        </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td align="center"><p class="table_element">{{ element.id }}</p></td>
        <td align="center"><p class="table_element">{{ element.created_at }}</p></td>
        <td align="center"><p class="table_element">{{ element.name }}</p></td>
        <td align="center"><p class="table_element">{{ element.email }}</p></td>
        <td align="center"><p class="table_element">{{ element.sex }}</p></td>
        <td align="center"><p class="table_element">{{ element.education }}</p></td>
        <td align="center"><p class="table_element">{{ element.q1 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q2 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q3 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q4 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q5 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q6 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q7 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q8 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q9 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q10 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q11 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q12 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q13 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q14 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q15 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q16 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q17 }}</p></td>

    </tr>
    {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}






