<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
    <div class="framee">

        Personal development is<br>
        the conscious choice <br>
        to improve one's life<br>
        <br><br>

        <font color="#2ecaef">RESULTS</font>

    </div>
</div>
<br>

<table class="table">
    <thead>
    <tr>
        <th><p class="simple_text">#</p></th>
        <th><p class="simple_text">Created at</p></th>
        <th><p class="simple_text">Username</p></th>
        <th><p class="simple_text">Email</p></th>
        <th><p class="simple_text">Sex</p></th>
        <th><p class="simple_text">Education</p></th>
        <th><p class="simple_text">Q1</p></th>
        <th><p class="simple_text">Q2</p></th>
        <th><p class="simple_text">Q3</p></th>
        <th><p class="simple_text">Q4</p></th>
        <th><p class="simple_text">Q5</p></th>
        <th><p class="simple_text">Q6</p></th>
        <th><p class="simple_text">Q7</p></th>
        <th><p class="simple_text">Q8</p></th>
        <th><p class="simple_text">Q9</p></th>
        <th><p class="simple_text">Q10</p></th>
        <th><p class="simple_text">Q11</p></th>
        <th><p class="simple_text">Q12</p></th>
        <th><p class="simple_text">Q13</p></th>
        <th><p class="simple_text">Q14</p></th>
        <th><p class="simple_text">Q15</p></th>
        <th><p class="simple_text">Q16</p></th>
        <th><p class="simple_text">Q17</p></th>
    </tr>
    </thead>

    <tbody>
    {% for element in formdata %}
    <tr>
        <td align="center"><p class="table_element">{{ element.id }}</p></td>
        <td align="center"><p class="table_element">{{ element.created_at }}</p></td>
        <td align="center"><p class="table_element">{{ element.name }}</p></td>
        <td align="center"><p class="table_element">{{ element.email }}</p></td>
        <td align="center"><p class="table_element">{{ element.sex }}</p></td>
        <td align="center"><p class="table_element">{{ element.education }}</p></td>
        <td align="center"><p class="table_element">{{ element.q1 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q2 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q3 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q4 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q5 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q6 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q7 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q8 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q9 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q10 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q11 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q12 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q13 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q15 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q16 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q17 }}</p></td>
        <td align="center"><p class="table_element">{{ element.q17 }}</p></td>

    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <tbody>
    <tr>
        <td align="left"><p class="table_element"><b>Q1</b> Have you ever heard about personal development?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q2</b> Can you organize your time?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q3</b> Can you say 'no' to jobs or requests that you feel are not
            your
            responsibility?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q4</b> Are you making a list of tasks in your daily routine?</p>
        </td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q5</b> Don't you give up things you do not really want or need to
            do?</p>
        </td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q6</b> Do you easily cope with changes?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q7</b> Do you eagerly start new activity or accept the challenge?
        </p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q8</b> Do you participate in any additional courses?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q9</b> Do you believe that taking additional courses is crucial in
            your
            personal development?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q10</b> Do you believe in possibility of developing yourself
            without
            leaving home?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q11</b> Is the Internet necessary for developing yourself?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q12</b> How many languages have you ever learnt?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q13</b> How many languages do you speak communicatively?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q14</b> How often do you practice sport?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q15</b> How much do you care about money?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q16</b> How much influence does success make on your life?</p></td>
    </tr>
    <tr>
        <td align="left"><p class="table_element"><b>Q17</b> Are family and friends motivation in your life?</p></td>
    </tr>
    </tbody>
</table>

{% endblock %}






