<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(drawChart);

    var myData = {{ data|tojson }};

    function drawChart() {

        var data1 = new google.visualization.DataTable();
        data1.addColumn('string', 'Sex');
        data1.addColumn('number', ' ');
        data1.addRows([
            myData[0],
            myData[1],
            myData[2]
        ]);

        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'Education');
        data2.addColumn('number', ' ');
        data2.addRows([
            myData[3],
            myData[4],
            myData[5]
        ]);

        var data3 = new google.visualization.DataTable();
        data3.addColumn('string', 'Question');
        data3.addColumn('number', 'Average answer');
        data3.addRows([
                myData[6],
                myData[7],
                myData[8],
                myData[9],
                myData[10],
                myData[11],
                myData[12],
                myData[13],
                myData[14],
                myData[15],
                myData[16],
                myData[17],
                myData[18],
                myData[19],
                myData[20],
                myData[21],
                myData[22]
            ]);

        var options1 = {
            'title': 'Sex',
            'width': 500,
            'height': 400,
            colors: ['#D1DDF3', '#575058', '#FDCBB2'],
            is3D: true,
            titleTextStyle: {fontName: 'Lato', fontSize: '30'}
        };

        var options2 = {
            'title':'Education',
            'width':500,
            'height':400,
            colors: ['#D1DDF3','#575058','#FDCBB2'],
            is3D: true,
            titleTextStyle: {fontName: 'Lato', fontSize: '30'}
        };

        var options3 = {
            'title':'Average result',
            colors: ['#D3CACB'],
            is3D: true,
            titleTextStyle: {fontName: 'Lato', fontSize: '30'},
            legend: 'none',
            vAxis: {baseline: 0}
        };

        var chart1 = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart1.draw(data1, options1);

        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options2);

        var chart3 = new google.visualization.ColumnChart(document.getElementById('chart_div3'));
        chart3.draw(data3, options3);
    }
</script>

<div class="header">
    <div class="framee">

        Personal development is<br>
        the conscious choice <br>
        to improve one's life<br>
        <br><br>

    </div>
</div>
<br>

<div class="texty">
   <p class="welcome"> Statistics </p><br>
   
    <div class="col-md-6">
        <div id="chart_div" align="center"></div>
        </div>
    <div class="col-md-6">
        <div id="chart_div2" align="center"></div>
        </div>
    <div class="col-md-12">
        <div id="chart_div3" align="center"></div>
        </div>

</div>



{% endblock %}
