{% extends "base.html" %}

{% block content %}

<div class="header">
    <div class="framee">

        Personal development is<br>
        the conscious choice <br>
        to improve one's life<br><br>
        <a class="button" href="/">Find out more</a>

    </div>
</div>

<br>
<div class="texty">
    <p class="welcome" align="center">Thank you for your time and the information you have shared with us!
        <br>We will try to contact you as soon as possible.</p><br>
</div><br>

<div align="center">
    <div><a class="button_form" href="/">Main page</a></div>
</div>


{% endblock %}
