{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee">

	Personal development is<br>
	the conscious choice <br>
	to improve one's life<br><br>
	<a class="button" href="/">Find out more</a>

	</div>
</div>

<br>
<div class="texty">
	<p class="welcome"> Thank you for filling out this form! </p><br>
</div><br>

<div class="centr" align><a class="button_form" href="/result">My result</a><br><br>
</div>
<div class="centr" align><a class="button_form" href="/">Back</a><br><br>
</div>

{% endblock %}