{% extends "base.html" %}

{% block content %}

<div class="header">
    <div class="framee">

        Personal development is<br>
        the conscious choice <br>
        to improve one's life<br><br>
        <a class="button" href="/">Find out more</a>

    </div>
</div>

<br>
<div class="texty">
    <p class="welcome" align="center">Thank you for filling out this form!</p><br>
</div><br>

<div align="center">
    <!--<div><a class="button_form" href="/raw">Results</a></div>-->
    <div><a class="button_form" href="/">Back</a></div>
</div>


{% endblock %}
