<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee">

        <a href="http://www.skillsyouneed.com/ps/personal-development.html">What is Personal Development</a></br>
        <a href="http://www.success.com/sections/personal-development">Personal Development</a></br>
        <a href="https://www.coursera.org/browse/personal-development?languages=en">Courses</a></br>
        <a href="https://www.udemy.com/courses/personal-development/">Online courses</a></br>


	<a class="button" href="/">Home</a>

	</div>
</div>





{% endblock %}
