<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
	<div class="framee">
	
	Today is a perfect day <br>
	for a new beginning <br>

	</div>
</div>

<div class="texty">
    <p class="welcome"> Useful links </p><br>
    <p class="simple_text">We would like to share with you some useful links. They help you better understand
    meaning of self-development and improve your skills! <br>
    	<a href="http://www.skillsyouneed.com/ps/personal-development.html">What is Personal Development</a></br>
        <a href="http://www.success.com/sections/personal-development">Personal Development</a></br>
        <a href="https://www.coursera.org/browse/personal-development?languages=en">Courses</a></br>
        <a href="https://www.udemy.com/courses/personal-development/">Online courses</a></br>
    </p> 
</div>





{% endblock %}
